<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">

{% seo %}

<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">

  <meta name="robots" content="index, follow">

  <!-- Schema LocalBusiness -->
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "@id": "https://gssnettoyage.ch/#organization",
    "name": "GSS Nettoyage Genève",
    "url": "https://gssnettoyage.ch",
    "logo": "https://gssnettoyage.github.io/gss_nettoyage_renovation_geneve_suisse/assets/logo.png",
    "telephone": "+41791985248",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Rue Charles-Giron 12",
      "addressLocality": "Genève",
      "addressRegion": "GE",
      "postalCode": "1203",
      "addressCountry": "CH"
    },
    "areaServed": {
      "@type": "AdministrativeArea",
      "name": "Genève"
    }
  }
  </script>

</head>

<body>
  <div class="site-container">
    {{ content }}
  </div>
</body>
</html>
